[Unit]
Description=My, andreasl's, ping-out systemd service.

[Service]
Type=simple
ExecStart=/bin/bash /usr/local/bin/ping-out.sh

[Install]
WantedBy=multi-user.target
